/*
    Keg Cop common style elements
*/

main>.container {
    width: auto;
    max-width: 1024px;
    padding: 20px 15px 0;
}

.footer {
    background-color: #f5f5f5;
}

.footer>.container {
    padding-right: 15px;
    padding-left: 15px;
}

.no-underline {
    text-decoration: none !important
}
