/*
    Keg Cop common style elements
*/

main>.container {
    width: auto;
    max-width: 1024px;
    padding: 20px 15px 0;
}

.footer>.container {
    padding-right: 15px;
    padding-left: 15px;
}

.no-underline {
    text-decoration: none !important;
}

.plain-link {
    text-decoration: none;
    color: var(--bs-nav-link-color);
}

/*
    Spinning loader graphic setup
*/

div.loader {
    display: none;
    position: absolute;
    z-index: 9999;
    top: 25%;
    left: 45%;
    bottom: 0;
    right: 0;
    border: 16px solid #2FA4E7;
    border-radius: 50%;
    border-top: 16px solid #2FA4E7;
    border-right: 16px solid #73A839;
    border-bottom: 16px solid #DD5600;
    border-left: 16px solid #C71C22;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
