/*
    Bootswatch Superhero theme override style elements
*/

.chart {
    color: white;
}

.footer {
    background-color: #f5f5f5;
    text-align: center;
}

.plain-link {
    text-decoration: none;
    color: var(--bs-nav-link-color);
}
